<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="home/home.css"/>
</head>
<body>
    <div class="img-logo-container" >
        <img src="../images/logo.jpg" class="img-logo">
    </div>
    <div ng-controller="HomeCtrl" >
        <h1>{{output}}</h1>
        <button ng-click="fetchData()" >Generate</button>
    </div>
</body>
</html>


